.button3:hover{
    background-color: purple;
    color: white;
    transition: 1s;
}
.button3{
    border-radius: 30px;
    text-decoration: none; 
    border: 3px solid purple;  
    background-color: transparent; 
}
.image1{
    height: 170px;
    width: 250px;
}